<!DOCTYPE html>
<html>
<head>
    <title>My Flask App</title>
</head>
<body>
	<form class = "grid" action = "/calculate" method = "POST">
	<lable for = "Name">Parameter1 :</lable>
	<select name="param1">
		<option value="APD">APD</option>
		<option value="PC">PC</option>
		<option value="CO">CO</option>
		<option value="PD">PD</option>
	</select>
	</br>
	<lable for = "Name">Parameter2 :</lable>
	<select name="param2">
		<option value="APD">APD</option>
		<option value="PC">PC</option>
		<option value="CO">CO</option>
		<option value="PD">PD</option>
	</select>
	<center><input class="file_submit" type="Submit" value="실행"></center>
	</form>
</body>
</html>